* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Open Sans';
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
a{
    text-decoration: none;
    color: black;  
}
.btn{
    padding: 5px 20px;
}

/* header */
header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

/* header SX */
header .header-sx{
    float: left;
    width: 50%;
}
header .header-sx img{
    padding-left: 40px;
    line-height: 80px;
    vertical-align: middle;
}
header .header-sx ul{
    display: inline-block;
    margin: 0 50px;
    line-height: 80px;
    vertical-align: middle;
}
header .header-sx li{
    display: inline-block;
    padding-right: 30px;
}

/* header DX */
header .header-dx{
    float: left;
    width: 50%;
    text-align: right;
}
header .header-dx ul{
    line-height: 80px;
    display: inline-block;
}
header .header-dx li{
    display: inline-block;
    padding-right: 30px;
}
header .header-dx .conatiner-btn{
    display: inline-block;
    margin-right: 30px;
}
.none{
    background-color: none;
    color: black;
}
.none:hover{
    background-color: rgba(0, 0, 0, 0.247);
}
.blue{
    background-color: rgb(0,97,255);
    color: white;
}
.blue:hover{
    background-color: rgb(0, 76, 197);
    color: white;
}

/* fine header */

/* jumbotron */
#jumbo{
    background-color: rgb(180,208,231);
    margin-top: 80px;
}
.horizontal-center{
    width: 80%;
    margin: auto;
}
#jumbo .horizontal-center{
    height: 800px;
}
#jumbo .horizontal-center h1{
    font-size: 80px;
    padding: 50px 0;
}
#jumbo .horizontal-center p{
    font-weight: 600;
    width: 30%;
    padding-bottom: 50px;
}
#jumbo .horizontal-center .container-btn .btn{
    margin-bottom: 100px ;
}